footer {
    background-color: var(--light-blue);
    display: flex;
    justify-content: space-between;
    padding: 2em 3em;
}

.copyright{
    display: flex;
    align-items: center;

}

.copyright p{
    color: white;
    font-size: 12px;
    font-weight: 400;
    margin-left: 2em;

}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link{
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: white;
    padding: 0 2em;
}